h3 {
	font-weight: 100;
	/*margin: 10px 0px;*/
	font-size: 16px;
	margin: 0px;
}

.header-container {
	padding: 5px 55px;
	border-bottom: solid lightgray 1px;
}

.header {
	height: 40px;
}

.header > .title {
	padding: 8px;
}

.header > .image {
	height: 40px;
}

.header > .image > img {
	width: 40px;
	height: 40px;
}

#status {
	padding: 2px 8px;
	font-size: 13px;
}

#confirm {
	position: absolute;
	top: 0px;
	background-color: #FFFFFF;
	opacity: 0.95;
	width: 650px;
	text-align: center;
	height: 100%;
	padding: 0px;
}

.confirm-center {
	margin-top: 40%;
	padding: 0px;
}

.options-container {
	padding: 15px 0px 0px 100px;
	max-width: 650px;
	position: relative;
}

.section {
	margin: 10px 0px;
}

#note-date {
	padding-right: 2px;
}

.option {
	padding-left: 6px;
	padding-bottom: 5px;
	font-size: 13px;
	min-height: 20px;
}

.option.child {
	padding-left: 32px;
}

.option.child-text {
	padding-left: 32px;
}

.option.bottom {
	padding-bottom: 0px;
}

.note {
	position: relative;
	top: -20px;
}

.note-button {
	display: block;
	position: relative;
	top: 20px;
}

button.inline {
	margin: -1px;
	margin-left: 1px;
}

span.checkbox {
	height: 17px;
	padding-top: 2px;
	padding-left: 10px;
	display: inline-block;
}

input:disabled + div {
	color: #999999;
}

label > button:disabled ~ div,
.disabled {
	color: #999999;
	cursor: not-allowed;
}

.select {
	display: inline-block;
}

select.sound,
select.number {
	width: 65px;
}

select.date,
select.time {
	width: 130px;
}

select {
	padding-left: 5px;
	width: 65px;
	height: 23px;
	background: url(../images/select.png) no-repeat right white;
	border: 0;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #ccc;
}

select:disabled {
	background: url(../images/select-disabled.png) no-repeat right white;
	cursor: not-allowed;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

/* Checkbox and radio buttons */
label.checkbox input[type="checkbox"],
label.radio input[type="radio"] {
	display: none;
}

label.checkbox span,
label.radio span {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	position: relative;
	margin-top: 0px;
	cursor: pointer;
}

label.checkbox span {
	background: url(../images/checkbox.png) no-repeat white;
	background-position: 0 0px;
}

label.radio span {
	background: url(../images/radio.png) no-repeat white;
	background-position: 0 0px;
}

/* Checkbox checked */
label.checkbox :checked + span {
	background-position: 0 -38px;
}

/* Checkbox disabled */
label.checkbox :disabled + span {
	cursor: not-allowed;
	background-position: 0 0px;
}

/* Checkbox disabled and checked */
label.checkbox :disabled:checked + span {
	cursor: not-allowed;
	background-position: 0 -19px;
}

/* Radio checked */
label.radio :checked + span {
	background-position: 0 -38px;
}

label.checkbox > .text,
label.radio > .text {
	padding-top: 1px;
	padding-left: 5px;
	display: inline-block;
	margin-top: 1px;
	position: absolute;
}

label.checkbox :disabled ~ .text {
	color: #999999;
	cursor: not-allowed;
}
