body {
	line-height: 1.5;
}

h3 {
	font-weight: 100;
	font-size: 16px;
	margin: 0px;
}

/* Page Containers */
.container.header {
	padding: 5px 55px;
	border-bottom: solid lightgray 1px;
	height: 51px;
}

.container.options {
	padding: 15px 0px 0px 100px;
	max-width: 650px;
}

/* Page Header */
.header {
	height: 40px;
}

.header > .title {
	padding: 8px;
}

.header > .image {
	height: 40px;
}

.header > .image > img {
	width: 40px;
	height: 40px;
}

/* Status Text */
#status {
	padding: 2px 8px;
	font-size: 13px;
}

/* Reset Confirm Div */
#confirm {
	position: absolute;
	top: 0px;
	background-color: #FFFFFF;
	opacity: 0.95;
	width: 650px;
	text-align: center;
	height: 100%;
	padding: 0px;
}

.confirm-center {
	margin-top: 40%;
	padding: 0px;
}

/* Page Body */
.section {
	margin: 10px 0px;
}

.option {
	padding-left: 6px;
	padding-bottom: 5px;
	font-size: 13px;
	min-height: 20px;
}

.option.child {
	padding-left: 32px;
}

.option.bottom {
	padding-bottom: 0px;
}

/* Buttons */
button.inline {
	margin: -1px;
	margin-left: 1px;
}

/* Inputs */
label.checkbox input[type="checkbox"],
label.radio input[type="radio"] {
	display: none;
}

input:disabled + div {
	color: #999999;
}

label > button:disabled ~ div,
.disabled {
	color: #999999;
	cursor: not-allowed;
}

/* Select dropdown */
.select {
	position: relative;
	display: inline-block;
}

select.sound {
	width: 70px;
}
select.number {
	width: 65px;
}

select.date,
select.time {
	width: 130px;
}

.select span:after {
	display: block;
	content: " ";
	position: absolute;
	top: 7px;
	right: 6px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid #000;
	pointer-events: none;
}

select {
	padding-left: 5px;
	width: 65px;
	height: 23px;
	border: 0;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #ccc;
}

select:disabled {
	cursor: not-allowed;
}

select:disabled ~ span:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #999999;
}

/* Checkbox and radio buttons */
label.checkbox span,
label.radio span {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	position: relative;
	border: 1px solid #ccc;
	margin-top: 0px;
	cursor: pointer;
}

label.checkbox span:after,
label.radio span:after {
	content: " ";
	display: none;
	position: absolute;
	border: solid black;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
}

label.checkbox span:after {
	left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	border-width: 0 3px 3px 0;
}

label.radio span:after {
	left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
	background-color: #000;
}

label.checkbox :checked ~ span:after, label.radio :checked ~ span:after {
	display: block;
}

label.checkbox :disabled ~ span:after {
	cursor: not-allowed;
}

label.checkbox :disabled ~ span:after {
    border: solid #999999;
    border-width: 0 3px 3px 0;
}

label.checkbox > .text,
label.radio > .text {
	padding-top: 1px;
	padding-left: 5px;
	display: inline-block;
	margin-top: 1px;
	position: absolute;
}

label.checkbox :disabled ~ .text {
	color: #999999;
	cursor: not-allowed;
}
