/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}strong,b{font-weight:bold}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}html,html a{-webkit-font-smoothing:antialiased;text-shadow:1px 1px 1px rgba(0,0,0,0.004)}*,*:before,*:after{box-sizing:inherit}

body {
	line-height: 1;
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #505050;
	background-color: #FFF;
	height: 164px;
}

a:link {
	color: #202020;
	white-space: nowrap;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	background: white;
	width: 158px;
	height: 164px;
	position: relative;
}

/* Details */
.details-title {
	width: 100%;
	text-align: center;
	margin-top: 7px;
	height: 16px;
}

#details {
	width: 100%;
	height: 41px;
	text-align: center;
	padding-top: 2px;
}

/* Time Date */
#time-date,
#time-since,
#archive-version,
#archive-history {
	display: none;
}

#time-date > p,
#message {
	padding: 2px;
}

#time-since > p {
	padding: 10px;
	padding-left: 2px;
	padding-right: 2px;
}

/* View (Page) */
.view {
	display: none;
	position: absolute;
	width: 100%;
	background-color: white;
	height: 164px;
	padding: 10px;
}

/*  Stats reset div  */
.view.confirm {
	padding: 12px;
	padding-top: 25%;
	z-index: 100;
}

.view.confirm > #reason {
	text-align: center;
}

#reason {
	padding-top: 15px;
}

.number {
	padding: 5px;
	font-size: 19px;
	font-size: 15px;
	font-weight: bold;
}

/* Overlay */
#overlay {
	display: none;
	position: absolute;
	width: 100%;
	background-color: rgba(80, 69, 61, 0.9);
	text-align: center;
	color: white;
	height: 164px;
	font-weight: 700;
	padding: 12px;
}

#overlay > .title {
	height: 14px;
}

#overlay-title,
#overlay-reason {
	text-shadow: 1px 1px 1px rgb(33, 33, 33);
}

#overlay-reason {
	padding-top: 20px;
}

/* Options */
#options-box,
.stats-options {
	position: absolute;
	bottom: 4px;
	left: 0px;
}

/* Buttons */
.button {
	width: 100%;
	text-align: center;
	padding: 4px;
	padding-bottom: 0px;
}

.button.disabled > span {
	color: rgb(153, 153, 153);
	cursor: default;
}

.button > span,
.button.small > span {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	padding: 2px;
	width: 100%;
	display: inline-block;
	cursor: pointer;
}

.button.small {
	width: 79px;
}

.button.small.one {
	padding-right: 2px;
}

.button.small.two {
	padding-left: 2px;
}

.button.x-small {
	width: 67px;
}

.button.x-small.one {
	padding-left: 0px;
	padding-right: 2px;
}

.button.x-small.two {
	padding-left: 2px;
	padding-right: 2px;
}

.button.view-page {
	color: black;
	font-weight: normal;
	padding-top: 20px;
	display: none;
}

.button.view-page > span {
	width: 120px;
}


/* Loading animation */
@-webkit-keyframes loading-anim {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes loading-anim {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

.loading {
	/*position: relative;*/
	display: none;
	background: none;
	width: 110px;
	height: 0px;
	padding-top: 10px;
	transform: scale(0.25);
}

.loading > div:nth-of-type(1) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.loading > div:nth-of-type(2) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.4166666666666667s;
  animation-delay: -0.4166666666666667s;
}
.loading > div:nth-of-type(3) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.33333333333333337s;
  animation-delay: -0.33333333333333337s;
}
.loading > div:nth-of-type(4) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.loading > div:nth-of-type(5) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.16666666666666669s;
  animation-delay: -0.16666666666666669s;
}
.loading > div:nth-of-type(6) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: -0.08333333333333331s;
  animation-delay: -0.08333333333333331s;
}
.loading > div:nth-of-type(7) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.loading > div:nth-of-type(8) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0.08333333333333337s;
  animation-delay: 0.08333333333333337s;
}
.loading > div:nth-of-type(9) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0.16666666666666663s;
  animation-delay: 0.16666666666666663s;
}
.loading > div:nth-of-type(10) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.loading > div:nth-of-type(11) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0.33333333333333337s;
  animation-delay: 0.33333333333333337s;
}
.loading > div:nth-of-type(12) {
  -webkit-animation: loading-anim 1s linear infinite;
  animation: loading-anim 1s linear infinite;
  -webkit-animation-delay: 0.41666666666666663s;
  animation-delay: 0.41666666666666663s;
}